@media (max-width: 1280px) {
  .container {
    padding: 0 60px;
  }
}

@media (max-width: 1024px) {
  .hero-section .container {
    flex-direction: column;
    display: block;
  }

  .hero-content {
    max-width: 100%;
    text-align: center;
    margin-bottom: 50px;
  }

  .contact-form {
    max-width: 100%;
  }

  .action-buttons {
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 0 30px;
  }

  .nav-items {
    position: fixed;
    top: 50px;
    right: -100%;
    width: 70%;
    height: 100vh;
    background: var(--color-bg);
    flex-direction: column;
    padding: 50px 30px 30px;
    transition: right 0.4s;
    z-index: 998;
  }

  .nav-items.active {
    right: 0;
  }

  .nav-items li {
    margin: 0 0 20px 0;
  }

  .btn-price {
    display: none;
  }

  .mobile-menu {
    display: block;
  }

  .contact-wrapper {
    flex-direction: column;
    gap: 20px;
  }

  .scrolling-bar {
    bottom: 108px;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 0 20px;
  }

  .hero-content h1 {
    font-size: 2rem;
  }

  .action-buttons {
    flex-direction: column;
  }

  .btn {
    width: 100%;
  }

  .contact-question {
    display: none;
  }

  .scrolling-bar {
    bottom: 60px;
  }
}

@media (max-width: 600px) {
  .slogan {
    display: none;
  }
}
@media (max-width: 275px) {
  .top-panel .container {
    display: block;
  }
  .nav-items {
    top: 71px;
  }
}
