@media (max-width: 1280px) {
  .th-container {
    padding: 0 60px;
  }
}

@media (max-width: 1024px) {
  .th-hero-section .th-container {
    flex-direction: column;
    display: block;
  }

  .th-hero-content {
    max-width: 100%;
    text-align: center;
    margin-bottom: 50px;
  }

  .th-contact-form {
    max-width: 100%;
  }

  .th-action-buttons {
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .th-container {
    padding: 0 30px;
  }
  .th-contact-form h2 {
    font-size: 1.8rem;
  }
  .th-hero-content h1 {
    font-size: 3.8rem;
  }

  .th-nav-items {
    position: fixed;
    top: 50px;
    right: -100%;
    width: 70%;
    height: 100vh;
    background: var(--color-bg);
    flex-direction: column;
    padding: 50px 30px 30px;
    transition: right 0.4s;
    z-index: 998;
  }

  .th-nav-items.active {
    right: 0;
  }

  .th-nav-items li {
    margin: 0 0 20px 0;
  }

  .th-btn-price {
    display: none;
  }

  .th-mobile-menu {
    display: block;
  }

  .th-contact-wrapper {
    flex-direction: column;
    gap: 20px;
  }

  .th-scrolling-bar {
    bottom: 105px;
  }
}

@media (max-width: 480px) {
  .th-container {
    padding: 0 20px;
  }

  .th-action-buttons {
    flex-direction: column;
  }

  .th-btn {
    width: 100%;
  }

  .th-contact-question {
    display: none;
  }

  .th-scrolling-bar {
    bottom: 60px;
  }
}

@media (max-width: 600px) {
  .th-slogan {
    display: none;
  }
}

@media (max-width: 275px) {
  .th-top-panel .th-container {
    display: block;
  }
  .th-nav-items {
    top: 71px;
  }
}
